body{background-color: white;
       }



       h3{color: blue;
          text-align: center;
        font-size: 30px;}


   div{color: black;
      text-align: center;} 
      

      div class="div 1"{border width: 2px 2px;}
      


